{% load my_tags %}
<html lang="ru">
<body>
{% block content %}
<div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">Цена: {{ product.price }}</p>
                <p class="card-text">Описание: {{ product.description|slice:":100" }}</p>
                <a href="{% url 'product_details' product.id %}" class="btn btn-primary">Подробнее</a>
            </div>
            <img src="{{ product.preview|mymedia }}" alt="Изображение" class="card-img-right img-fluid" style="max-width: 200px;">
        </div>
    </div>
{% endblock %}
</body>
</html>